@charset "UTF-8";

*{
    font-family: arial, Arial, Helvetica, sans-serif;
    
}

body {
    
    background-image: linear-gradient(to left, #F2C3A7, #F2D9BB,#F2E0D0); 
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #f2c2a77e;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color:#F2C3A7;
    text-align: center;
    text-shadow: 3px 3px 4px #c0bfbe50;
}

h2 {
    color: #21AFBF ;
}

p {
    text-align: justify;
}